{
  "serverUrl": "/api/",
  "autoConnect": true,
  "playerAuthRequired": ${BUNNYLAND_PLAYER_AUTH_REQUIRED},
  "discordUrl": "${BUNNYLAND_DISCORD_URL}",
  "theme": "${BUNNYLAND_WEB_THEME}",
  "themes": ${BUNNYLAND_WEB_THEMES}
}
